<!DOCTYPE html>
<html>
	<!-- <head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Hey, <@user> </h1>
		<p>
			Welcome to our site!
		</p>
		<p>
			To login to the site, just follow this link: <%= http://newsli.herokuapp.com/ %>.
		</p> -->
	</body>
</html>