<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>

		<div class="jumbotron">
  <div class="container">
    <h1>Newsly.</h1>
    <p>Keep up with breaking news on a global scale.</p>
  </div>
</div>
		<h1>Hello, </h1>
		<p>Welcome to our site!
		</p>
		<p>
			To login to the site, just follow this link: http://www.newsli.herokuapp.com
		</p>
	</body>
</html>