<!-- <body>
<div class="jumbotron">
  <div class="container">
    <h1> welcome to newsly.</h1>
    <p> the latest news </p>

  </div>
</div>
 -->

<h1>Welcome to Newsly.</h1>
<p>Find me in app/views/user/show.html.erb</p>
