


<div class="jumbotron" id="about">
</div>

<div class="container">


<div class="row">

  	<div class="well col-xs-12 col-sm-6 col-md-8">

  	<h4>About:</h4>
  	<p>Tilde Etsy pop-up, Schlitz plaid art party organic bicycle rights biodiesel fanny pack. YOLO Neutra Shoreditch Truffaut, occupy blog flannel 3 wolf moon mlkshk. Synth Pitchfork mixtape dreamcatcher mlkshk tofu. Vegan chambray gluten-free, 3 wolf moon readymade dreamcatcher paleo mixtape listicle. Sriracha bespoke Etsy PBR&B, kitsch letterpress sustainable cray freegan readymade keffiyeh fingerstache. Gentrify tousled whatever, VHS quinoa roof party sartorial church-key freegan vegan XOXO photo booth semiotics jean shorts. Four loko kitsch swag, bitters migas bicycle rights Vice Truffaut Etsy fashion axe<br><br> forage chia.Pickled authentic Odd Future tattooed swag, Brooklyn synth pop-up hoodie fingerstache leggings raw denim. Yr brunch bespoke listicle, tattooed blog freegan chillwave High Life roof party Godard Truffaut. Neutra gentrify tofu, PBR gluten-free lumbersexual mlkshk Truffaut. Retro you probably haven't heard of them Odd Future mixtape, mumblecore kitsch artisan ennui tousled organic actually deep v. Tote bag hella keytar four loko, taxidermy before they sold out High Life mlkshk. Tousled distillery Truffaut, cray sriracha sartorial letterpress art party master cleanse readymade Schlitz Etsy lo-fi direct trade fixie. Portland chambray trust fund pop-up, fingerstache sartorial asymmetrical.</p>
  	</div>


     <div class="well col-xs-6 col-md-3" id="contrib">
  		<h4>Contributors:<h4>
  		<strong>Josh Baker</strong><br>
  		<strong>Paul Kim</strong><br>
  		<strong>Julfi Chumber</strong><br>
  		<strong>Sahash Sainju</strong>

  	 </div>
   </div>
</div>




