  <!-- <! doctype html> -->
  <html>
    <head>
      <style>
      @import url(http://fonts.googleapis.com/css?family=Nunito);

      html {
        height: 100%;
        overflow: hidden;
      }
      /*a{
        font-size: 20px;
      }*/
      #two{
        text-align: right;
      }
      #nav{
        position: fixed;
      }
      #mission{
        margin-left: 200px;
      }
      body { 
        margin:0;
        padding:0;
        perspective: 1px;
        transform-style: preserve-3d;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        font-family: Nunito;
        z-index: -1;
      }

      /*h1 {
         font-size: 250%
      }*/

      p {
        font-size: 140%;
        line-height: 150%;
        color: white;
      }

      .slide {
        position: relative;
        padding: 25vh 10%;
        min-height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
        transform-style: inherit;
      }

      img {
        position: absolute;
        top: 50%;
        left: 35%;
        width: 320px;
        height: 240px;
        transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
        padding: 10px;
        border-radius: 5px;
        background: rgba(240,230,220, .7);
        box-shadow: 0 0 8px rgba(0, 0, 0, .7);
      }

      img:last-of-type {
        transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
      }

      .slide:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        right:0;
      }

      .title {
        width: 50%;
        padding: 5%;
        border-radius: 5px;
        background: rgba(240,230,220, .7);
        box-shadow: 0 0 8px rgba(0, 0, 0, .7);
        background-color: #262626;
        color:white;
        opacity: 0.9;
      }

      .slide:nth-child(2n) .title {
        margin-left: 0;
        margin-right: auto;
      }

      .slide:nth-child(2n+1) .title {
        margin-left: auto;
        margin-right: 0;
      }

      .slide, .slide:before {
        background: 50% 50% / cover;  
      }

      .header {
        text-align: center;
        font-size: 175%;
        color: #fff;
        text-shadow: 0 2px 2px #000;
      }

      #title {
        background-image: url("http://lorempixel.com/output/abstract-q-c-640-480-6.jpg");
        background-attachment: fixed; 
        background-size: cover; 
      }

      #slide1:before {
        background-image: url("http://lorempixel.com/output/abstract-q-c-640-480-4.jpg");
        transform: translateZ(-1px) scale(2);
        z-index:-1;
      }

      #slide2 {

        background-image: url("http://s3.postimg.org/tn043t2c3/image.jpg");
        background-attachment: fixed;
      }
      #slide3{
        background-image: url('http://s14.postimg.org/jnk651zb5/julfi.jpg');
                background-size: cover; 

        transform: translateZ(-1px) scale(2);
        z-index:-1;
      }

      #slide5{
        background-image: url('http://s28.postimg.org/uxbk1fwzx/josh.jpg');
        background-attachment: fixed;
                background-size: cover; 

      }
      #slide7{
        background-image: url('http://s16.postimg.org/fpw5sj3j9/21tdf.jpg');
        background-attachment: fixed;
                background-size: cover; 

      }
      #slide9{
        background-image: url('http://s28.postimg.org/f4ymeszbh/slack_for_ios_upload323.jpg');
        background-attachment: fixed;

      }
      #slide10{
        background-image: url('http://s23.postimg.org/4sbrs3xzv/fullsizerenderqwer.jpg');
        background-attachment: fixed;
        background-size:90%;
        background-color:#1A181B;
        background-repeat: no-repeat; 
      }
      #contactus{
        margin-top: 50px;
      }


      #slide4 {
        background: #222;
      }
      *= require animate;
      </style>
      <script>
        $(function{
          var touch = Modernizr.touch;
          $('.img-holder').imageScroll({
            imageAttribute: (touch === true) ? 'image-mobile' : 'image',
            touch: touch
          });
        });
      </script>
      <body>
      </head>
<!--       <div id="title" class="slide header">
        <h1>Newsly</h1>
      </div> -->

      <div id="slide2" class="slide">
        <div class="title" id="mission">
          <h1>Our Mission</h1>
          <p>" Newsly helps you become more globally minded. Our web app visualizes the most recent and breaking news as it happens by plotting points on the locations where the events are taking places." </p>
        </div>
      </div>

      <div id="slide3" class="slide">
        <div class="title" id="two">
          <h1>Julfi Chumber</h1><a href="https://www.linkedin.com/in/julfic">LinkedIn </a><a href="https://github.com/jchummy">| GitHub</a>
          <p>"I had a great time working with these guys. Not only are they hilarious, they are so helpful, and super productive. Although I managed to get Paul sick, and missed a day, the Newsly team accomplished so much in so little time. I ran into issues setting up my mailer and the boys were there to tell me its okay, and that we will figure it out. It definitely helped having such an awesome team while being sick. I have learned a lot from these guys, and I think we really work well together. I would love to work with Josh, Paul, and Sahash again!"</p>
        </div>
      </div>

      <div id="slide5" class="slide">
        <div class="title">
          <h1>Josh Baker</h1><a href="https://www.linkedin.com/in/joshlbaker">LinkedIn </a><a href="https://github.com/joshlbaker">| GitHub</a>
          <p>"Working with the Newsly crew has been an amazing experience. I really appreciated their feedback on work I did and I felt that we collaborated really well together. In one week we were able to create a full stack rails application with minimal roadblocks. We came together when times were tough and never gave up. Even when we had a troop down recovering at home, we still managed to communicate all of our work through slack and still be productive. I would definitely work with Paul, Julfi, and Sahash again."</p>
        </div>
      </div>

      <div id="slide7" class="slide">
        <div class="title" id="two">
          <h1>Sahash Sainju</h1><a href="https://github.com/sahash182">LinkedIn </a><a href="https://www.linkedin.com/in/sahash182">| GitHub</a>

          <p>“I feel very fortunate for getting an opportunity to work with this amazing group. We came across lots of different problems but as a team we fixed our errors to get our code to work. I personally came across some challenges regarding github merge issues,  styling challenges, heroku deployment issues etc.  I would like to thank our classmates, wonderful instructors for being awesome. And looking forward to take newsly to next level. Thank you.  ~ Sahash:) "</p>
        </div>
      </div>

      <div id="slide9" class="slide">
        <div class="title">
          <h1>Paul Kim</h1><a href="https://github.com/Paulkim517/">LinkedIn </a><a href="https://www.linkedin.com/in/paulkim517">| GitHub</a>
          <p>“Working in a group is always so hard but being in team Newsly with Josh, Julfi, Sahash was so easy. We smashed this project and worked together really well. I’m glad I learned so much with these guys. They were there for me and kept me calm when I was struggling with paperclip, s3, and testing. I’d love to work with them in a professional setting! It would be fun AND productive."</p>
        </div>
      </div>

      <div id="slide10" class="slide header">
          <h1>Contact Us</h1>
          <a href='http://www.newsly.corporate@gmail.com' id="contactus">newsly.corporate@gmail.com</a>
      </div>
    </body>
  </html>




