<div class="row">
  <div class="junbotron">
  	<div class="mapbox" id="map"></div>
  </div>
</div>
  <div class="container fluid">
  <div class="col-md-12" id="news">
  	<h2>NEWS FEED:</h2>

  	<% @response['results'].each do |i| %>
	<div class="well" id="news-feed">
		<h3><%= i['title'] %></h3>
		<p><%= i['abstract'] %></p>
		<p><%= link_to 'View full article', i['url'] %></p>		
	</div>


	<% end %>
 

  </div>
</div>

	

