<div class="row">
  <div class="jumbotron mapbox" id="map"></div>
</div>
  <!-- <div class="container"> -->
    <!-- <div class=".col-md-8">
    </div> -->
  <h2 id="breaking"><%= @date.strftime("%B %d, %Y") %></h2>
    <div class="col-md-4" id="news">
      <% @both.each do |i| %>
      <div class="panel panel-default" id="news-feed">
        <div class="panel-heading">
          <h3 class="panel-title" id="tit"><%= i['title'] %></h3>
        </div>
        <div class="panel-body">
          <p id="p"><%= i['abstract'] %> <br><p id="linkp"><%= link_to 'View Article', i['url'] %></p></p>
        </div>
      </div>
      <% end %>
    </div>
<<<<<<< HEAD
  <!-- </div> -->


=======
  </div>
>>>>>>> 86b6eb9c79d9ea37d7d232a2762e0202ba932208

	
