

<div class="row">
  <div class="junbotron">
  	<div class="mapbox" id="map"></div>
  </div>


  <div class="col-xs-6 col-md-5" id="news">
  	<h2>NEWS FEED:</h2>

  	<% @response['results'].each do |i| %>
	<div class="well" id="news-feed">
		<h3><%= i['title'] %></h3>
		<p><%= i['abstract'] %></p>
		<p><%= i['url'] %></p>

		
		
	</div>


	<% end %> 

  </div>
</div>

	

