/* mapbox */

.mapbox {
  height: 100%;
  width: 100%;
}
li{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.sharefb{
	float: left;
	opacity: 0.8;
	position: inline;
	margin-top: 600px;
	position: fixed;
	transition: all .2s ease-in-out; 
}
.sharefb:hover{
	opacity: 2;
	transform: scale(1.1);

}
.sharetw{
	float: left;
	opacity: 0.8;
	position: inline;
	margin-top: 600px;
	margin-left: 70px;
	position: fixed;
	transition: all .2s ease-in-out; 
}
.sharetw:hover{
	opacity: 2;
	transform: scale(1.1);

}
#breaking{
	color:#888888;
	opacity: 0.6;
	float: left;
	margin-top: 600px;
	margin-left: 10px;
	position: fixed;

}

#breaking:hover{
	opacity: 1;
}
.jumbotron{
	height:100%;
	width: 100%;
	background-color: #262626;
	margin-top: -65px;
}

#auth{
	margin-top: 8px;
}
#map{
	position: fixed;
	/*z-index: 1;*/
	/*width:1500px;*/
}
#about{
	background-image: url('https://images.unsplash.com/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?q=80&fm=jpg&s=61e4d383791544ad3258e90d982d8e0e');
	background-size: cover;
	background-position: center;
	min-height: 400px;
}
#contrib{
	text-align: right;
	float:right;
}
#news-feed > div.panel-heading{
	color:#111111;
}
#news-feed > div.panel-body{
	color:#111111;
}
#user-articles{
	margin-top:75px;
}
#brand{
	color:#FB4505;
	font-size: 25px;
	font-weight: bold;
}
#brand:hover{
	color:white;
}
#nav{
	border: none;
	background-color: #262626;
	color:#FB4505;
	z-index: 2;
	border: none;
	position: fixed !important;

}
#mapjumbo{
	height: 400px;
}
#share-buttons img {
width: 75px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
body{
	/*background-image: url('subtle.png');*/
	color:#262626;
	background-color:#1E1E1E;
  padding-top: 70px; 
	/*overflow: hidden;*/
}
.share{
	z-index: -2;

}
.panel-default{
	opacity: 0.8;
	background-color: #262626;
	color:white;
}
.panel-default:hover{
	opacity: 0.9;
}
.btn-primary{
	margin-top: 10px;
}
#news{
	float:right;
	margin-top: 1000px;
}
#news2{
	float:right;
}
#p{
	font-size: 16px;
}
#linkp{
	font-size: 16px;
	text-align: right;
}
#tit{
	font-size: 18px;
}
#news-feed{
	z-index: 1;
	/*background: #FDA282;*/
	/*color:white;*/
	/*margin-top: 60px;*/
	background: #F5D0A9;
	color:black;
	vertical-align:right;
	cursor: pointer;
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: linear;

	}
	#news-feed:hover {
	  /*background: #E6E6E6;*/
	  /*color:black;*/
	  opacity: 1;
	}


/*.marker-symbol:hover{
	color:black;
}*/
legend{
	color:white;
}
#user_info{
	color:white;
	position: fixed;
	z-index: 2;
}

.navbar-thumb{
	border-radius: 100%;
}
.navbar {
	background: #fff;
	overflow: hidden;
	width: 420px;
	
	box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.navbar li p{
	width: 120px; border-left: 5px solid #FB4505;
	float: left;
	cursor: pointer;
	list-style-type: none;
	
	
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}
.navbar li p{
	font-size: 11px;
	color: #999;
	
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}
.navbar li:hover {
	background: #FB4505;
	border-left: 5px solid #000;
}
.navbar li:hover p {
	color: white;
	padding-left: 5px;
}
.navbar ul {
   list-style: none;
   text-align: center;
   padding: 0;
   margin: 0;
}
#bs-example-navbar-collapse-1{
	background-color: #262626;
}
.med{
	border-radius: 6px;
	position: fixed;
	width:150px;
}
#high{
	color: white;
	text-align: center;
	margin-bottom: 20px;
}
#high:hover{
	color: #FB4505;
}
#aboutBody { 
	margin: 0; padding: 0;
}
#container {
	width:100%;
}
section { padding: 5% 15%; margin: 0 auto;}


