/* mapbox */

.mapbox {
  height: 400px;
  width: 100%;
}
.navbar{
	margin-bottom: 0px;
}
#about{
	background-image: url('https://images.unsplash.com/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?q=80&fm=jpg&s=61e4d383791544ad3258e90d982d8e0e');
	background-size: cover;
	background-position: center;
	min-height: 400px;
}
#contrib{
	text-align: right;
	float:right;
}
#user-articles{
	margin-top:75px;
}
#brand{
	color:#FB4505;
	font-size: 25px;
	font-weight: bold;
}
#nav{
	background-color: #262626;
	color:#FB4505;
}
#mapjumbo{
	height: 400px;
}
body{
	background-image: url('subtle.png');
	color:#262626;
}
.well{
	opacity: 0.9;
}
.btn-primary{
	margin-top: 10px;
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
