/* mapbox */

.mapbox {
  height: 100%;
  width: 100%;
}
#navbar{
}
#breaking{
	color:#888888;
	opacity: 0.6;
	float: left;
	margin-top: 500px;
	margin-left: 50px;
	position: fixed;

}
#breaking:hover{
	opacity: 1;
}
.jumbotron{
	height:100%;
	width: 100%;
	background-color: #262626;
	margin-top: -65px;
}
#map{
	position: fixed;
	/*z-index: 1;*/
	/*width:1500px;*/
}
#about{
	background-image: url('https://images.unsplash.com/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?q=80&fm=jpg&s=61e4d383791544ad3258e90d982d8e0e');
	background-size: cover;
	background-position: center;
	min-height: 400px;
}
#contrib{
	text-align: right;
	float:right;
}
#user-articles{
	margin-top:75px;
}
#brand{
	color:#FB4505;
	font-size: 25px;
	font-weight: bold;
}
#brand:hover{
	color:white;
}
#nav{
	background-color: #262626;
	color:#FB4505;
	z-index: 2;
	border: none;
}
body{
	/*background-image: url('subtle.png');*/
	color:#262626;
	background-color:#1E1E1E;
  padding-top: 70px; 
	/*overflow: hidden;*/
}
.panel-default{
	opacity: 0.8;
	background-color: #262626;
	color:white;
}
.panel-default:hover{
	opacity: 0.9;
}
.btn-primary{
	margin-top: 10px;
}
#news{
	float:right;
	margin-top: 1000px;
}
#p{
	font-size: 16px;
}
#linkp{
	font-size: 16px;
	text-align: right;
}
#tit{
	font-size: 18px;
}
#news-feed{
	z-index: 1;
	/*background: #FDA282;*/
	/*color:white;*/
	/*margin-top: 60px;*/
	vertical-align:right;
	cursor: pointer;
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: linear;

	}
	#news-feed:hover {
	  background: #E6E6E6;
	  color:black;
	  opacity: 1;
	}
}


/*.marker-symbol:hover{
	color:black;
}*/




/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
